:root {
  --backGroundEmerald: {
    background-color: #2ecc71;
  }

  --backGroundClouds: {
    background-color: #ecf0f1;
  }

  --backGroundOrange: {
    background-color: #f39c12;
  }

  --backGroundPomegranate: {
    background-color: #c0392b;
  }

  --backGroundWisteria: {
    background-color: #8e44ad;
  }

  --backGroundBelizeHole: {
    background-color: #2980b9;
  }
}

body,
html {
  height: 100vh;
  color: white;
  font-family: "Mina", "Sawarabi Gothic";
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 20vh 20vh 20vh 20vh 1fr;
  grid-template-columns: 20% 1fr;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
}

.top {
  @apply --backGroundEmerald;
}

.about {
  @apply --backGroundOrange;
}

.dreams {
  @apply --backGroundPomegranate;
}

.works {
  @apply --backGroundWisteria;
}

.contact {
  @apply --backGroundBelizeHole;
}

.content.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  grid-column: 2;
  grid-row: 1 / span 5;
  transition: background-color 500ms 0s ease;
}

.content.about {
  display: flex;

  & .about-section {
    margin: auto;
  }
}

.content.notfound {
  display: flex;
  background-color: #000000;

  & .notfound-section {
    margin: auto;
  }
}

.content.dreams {
  display: flex;

  & .dreams-section {
    margin: auto;

    & ul {
      list-style: none;

      & .done {
        text-decoration: line-through;
      }
    }
  }
}

.content.works {
  display: flex;

  & .works-section {
    margin: auto;
  }
}

.content.contact {
  display: flex;

  & .contact-section {
    margin: auto;
  }
}
